@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet RTL isolation & Tooltip precision fix */
.leaflet-container {
    direction: ltr !important;
}

.leaflet-tooltip {
    direction: rtl;
    text-align: center;
    font-family: inherit;
    white-space: nowrap;
}

.leaflet-popup-content {
    direction: rtl;
    text-align: right;
    font-family: inherit;
}
